<div class="archive__item">
  <div class="archive__item-body">
    {% if post.title %}
      <h3 class="archive__item-title">
        {{ post.title }}
      </h3>
    {% endif %}
    <div class="archive__item-meta">
      {% if post.date %}
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      {% endif %}
      {% if post.venue %}
        <span class="archive__item-venue">{{ post.venue }}</span>
      {% endif %}
    </div>
    {% if post.excerpt %}
      <div class="archive__item-excerpt">
        {{ post.excerpt }}
      </div>
    {% endif %}
    {% if post.paperurl %}
      <p><a href="{{ post.paperurl | prepend: site.baseurl }}">Download PDF</a></p>
    {% endif %}
  </div>
</div>
